input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.popup {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px)
}

.overlay-pattern {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    z-index: 90;
}

.popup-inr {
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 1.302083333333333vw;
    border-radius: 1.302083333333333vw;
    padding: 2.083333333333333vw;
}

.popup__support {
    padding: 3.166666666666667vw 0;
}

.popup__support .popup-inr {
    width: 36.45833333333333%;
    height: auto;
    margin: 0 auto;
}

.popup__support .new-detail {
    padding: 0;
    border: none;
}

.popup__support .buts {
    margin-bottom: -3vw;
}


.popup__new {
    padding: 3.166666666666667vw 0;
}

.popup__new .popup-inr {
    width: 62.5%;
    height: auto;
    margin: 0 auto;
}

.overlay-pattern {
    pointer-events: none;
}

.popup__lost .overlay-pattern {
    background: url(../images/leaf.png) no-repeat center center;
    background-size: cover;
}

.popup__win .overlay-pattern {
    background: url(../images/congrat.png) no-repeat center center;
    background-size: cover;
}

.popup__message,
.popup__lost,
.popup__win {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__message .popup-inr,
.popup__lost .popup-inr,
.popup__win .popup-inr {
    width: 36.4375%;
}

.popup__lost .popup-inr,
.popup__win .popup-inr,
.popup__message--success .popup-inr {
    background: linear-gradient(109.34deg, rgba(153, 205, 83, 0.2) 0%, rgba(72, 175, 59, 0.2) 19.63%, rgba(20, 156, 44, 0.2) 36.98%, rgba(0, 149, 38, 0.2) 53.92%, rgba(0, 102, 19, 0.2) 76.04%);
    border: 2px solid #A8FF7E;
}

.popup__message--error .popup-inr {
    background: linear-gradient(109.34deg, rgba(255, 220, 202, 0.2) 0%, rgba(192, 2, 1, 0.2) 19.63%, rgba(255, 236, 226, 0.2) 36.98%, rgba(192, 2, 1, 0.2) 53.92%, rgba(255, 236, 226, 0.2) 76.04%);
    border: 2px solid #C00201;
    
}

.message h2,
.message-lucky h2 {
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 2.645833333333333vw;
    color: #007445;
    margin-bottom: 1.5625vw;
    text-align: center;
}

.popup__message--error h2 {
    color: #C00201;
}

.message-lucky img {
    width: 22.5625vw;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 1.1255vw;
}

.message-lucky img.gift-img {
    width: 14%;
    height: auto;
    margin-bottom: 1.1255vw;
}

.popup__win h2 {
    color: #FF2300;
}

.message-lucky p,
.message p {
    font-size: 1.2875vw;
    font-weight: 700;
    text-align: center;
}

.message-note {
    font-size: 0.9375vw;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-top: 1.5625vw;
}


.close-pop {
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 44px;
    height: 44px;
    z-index: 2;
    cursor: pointer;
    background: url(../images/close.png) no-repeat center center;
    background-size: cover;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.close-pop:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.new-data {
    width: 100%;
    height: auto;
}

.new-data h2 {
    font-size: 2.083333333333333vw;
    color: #016A01;
    line-height: 1.2;
    margin-bottom: 1.5625vw;
    font-weight: 800;
}

.post-date {
    display: block;
    color: #767676;
    font-size: 0.9375vw;
    margin-bottom: 1.5625vw;
}

.new-detail {
    line-height: 1.40625;
    font-size: 0.9375vw;
    padding: 1.5625vw 0;
    border-top: 1px solid #E1E1E1;
}

.new-detail img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.1625vw;
}

.new-detail>* {
    margin-bottom: 1.1625vw;
}

.check-list li {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: rgba(245, 245, 245, 0.7);
    font-weight: 700;
    margin-bottom: 1rem;
}

.check-list li img {
    width: 1.3125rem;
    height: auto;
    margin-right: 0.75rem;
}

/*Form*/
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.197916666666667vw;
}

.size4 {
    flex: 0 0 37%;
    max-width: 37%;
}

.size6 {
    flex: 0 0 49%;
    max-width: 49%;
}

.size8 {
    flex: 0 0 61%;
    max-width: 61%;
}

.form-group,
.form-col {
    position: relative;
}

.form-line {
    padding-top: 0.625vw;
    margin-bottom: 0.9375vw;
}

.form-line span {
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 1px;
    border-top: 3px dotted #000;
}

.form-support {
    display: flex;
    justify-content: center;
}

.input-txt {
    display: block;
    width: 100%;
    height: 3.4375vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0.8333333333333333vw;
    border-radius: 0.8333333333333333vw;
    color: #000;
    font-family: 'Montserrat';
    font-size: 1.041666666666667vw;
    font-weight: 400;
    padding: 0 0.9375vw;
}

.input-txt__large {
    font-size: 2.916666666666667vw;
    font-weight: 800;
    text-align: center;
}

.area-txt {
    width: 100%;
    height: 5.3125rem;
    background-color: #fff;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "Quicksand";
    font-weight: 600;
    color: #344563;
    font-size: 0.875rem;
}

.error {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    display: block;
    color: #e21d28;
    font-size: 0.625vw;
    font-weight: 500;
    padding: 3px 0 0 0;
    display: none;
}

.show__error .error {
    display: flex;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-toggle {
    position: relative;
    width: 100%;
    height: 3.4375vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0.8333333333333333vw;
    border-radius: 0.8333333333333333vw;
    color: #000;
    font-family: 'Montserrat';
    font-size: 1.041666666666667vw;
    font-weight: 400;
    padding: 0 0.9375vw;
    cursor: pointer;
}

.dropdown-toggle span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu {
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
    width: 100%;
    min-width: 120px;
    padding-top: 2px;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    max-height: 260px;
}

.dropdown-menu ul {
    background-color: #fff;
    padding: 0;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 10px 40px -2px rgba(10, 22, 70, 0.15);
}

.dropdown-menu li {
    font-size: 0.9375vw;
    font-weight: 700;
    color: #767676;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    padding: 0.625vw 0.9375vw;
    border-bottom: 1px dotted #767676;
    cursor: pointer;
}

.dropdown-menu li:last-child {
    border: none;
}

.dropdown-menu li:hover,
.dropdown-menu li.selected {
    background-color: #E6F5EC;
}

.dropdown-icon {
    flex: 0 0 1.25vw;
    max-width: 1.25vw;
    height: 1.25vw;
    line-height: 0;
}

.dropdown-icon img {
    width: 100%;
    height: auto;
}

.dropdown.open .dropdown-toggle img {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.dropdown.open .dropdown-menu {
    display: block;
}

.number-actions {
    position: absolute;
    right: 0.9375vw;
    top: 5%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1.25vw;
}

.number-actions .dropdown-icon {
    cursor: pointer;
}


.no-scroll {
    height: 100%;
    overflow: hidden;
}


.buts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.but {
    position: relative;
    color: #fff;
    font-weight: 800;
    font-size: 1.458333333333333vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding: 0 1.666666666666667vw;
    height: 3.4375vw;
    cursor: pointer;
}

.but span {
    position: relative;
    z-index: 2;
}

.but::before,
.but::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.but,
.but::before,
.but::after {
    overflow: hidden;
    -webkit-border-radius: 1.71875vw;
    border-radius: 1.71875vw;
}

.but::before {
    background: linear-gradient(90deg, #88D139 0%, #016A01 100%);
}

.but::after {
    background: linear-gradient(90deg, #016A01 0%, #88D139 100%);
    opacity: 0;
}

.but:disabled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: default;
}

.but:disabled::after {
    display: none;
}

.but.bg-red::before {
    background: #FF2300;
}

@supports (-webkit-text-stroke: green) {
    .new-data h2 {
        background: linear-gradient(90deg, #88D139 0%, #016A01 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

@media screen and (min-width: 1024px) {

    .but::after {
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .but:hover::after {
        opacity: 1;
    }

    .popup__support .but {
        width: 18.33333333333333vw;
    }

}

@media screen and (max-width: 1023px) {

    .form-group,
    .form-col {
        margin-bottom: 6.133333333333333vw;
    }

    .form-col:last-child {
        margin-bottom: 0;
    }

    .size4,
    .size6,
    .size8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .input-txt,
    .dropdown-toggle {
        -webkit-border-radius: 4.266666666666667vw;
        border-radius: 4.266666666666667vw;
        font-size: 5.333333333333333vw;
        padding: 0 4.8vw;
    }

    .input-txt {
        height: 17.6vw;
    }

    .input-txt__large {
        font-size: 10.66666666666667vw;
    }

    .dropdown-toggle {
        height: 16vw;
    }

    .dropdown-icon {
        flex: 0 0 6.4vw;
        max-width: 6.4vw;
        height: 6.4vw;
    }

    .number-actions {
        width: 6.4vw;
        right: 4.8vw;
        height: 84%;
        top: 7%;
    }

    .form-line span {
        width: 100%;
    }

    .but {
        height: 13.33333333333333vw;
        font-size: 5.333333333333333vw;
    }

    .but,
    .but::before,
    .but::after {
        -webkit-border-radius: 8.8vw;
        border-radius: 8.8vw;
    }

    .dropdown-menu li {
        font-size: 3.733333333333333vw;
        padding: 2.4vw 4.8vw;
    }

    .error {
        font-size: 2.666666666666667vw;
    }

    .new-data h2 {
        font-size: 6.133333333333333vw;
        margin-bottom: 6.4vw;
    }

    .close-pop {
        width: 30px;
        height: 30px;
    }

    .popup-inr {
        -webkit-border-radius: 4.266666666666667vw;
        border-radius: 4.266666666666667vw;
    }

    .popup__support {
        overflow: hidden;
    }

    .popup__support .popup-inr,
    .popup__new .popup-inr {
        top: 7%;
        width: 91.46666666666667%;
        height: 86%;
        padding: 3.2vw 3.2vw 16.2vw 3.2vw;
    }

    .popup__new .popup-inr {
        padding: 6.4vw 3.2vw;
    }

    .new-detail>* {
        margin-bottom: 4.4vw;
    }

    .new-detail {
        font-size: 4.266666666666667vw;
    }

    .popup__support .ajax-load,
    .popup__new .ajax-load {
        position: relative;
        height: 100%;
    }

    .popup__support .new-data,
    .popup__new .new-data {
        width: 100%;
        height: 100%;
        padding: 3.2vw 3.2vw 0 3.2vw;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .popup__support .buts {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        -webkit-transform: translateY(21.2vw);
        transform: translateY(21.2vw);
    }

    .popup__support .but {
        width: 80%;
    }

    .post-date {
        font-size: 4.8vw;
        margin-bottom: 6.4vw;
    }

    .popup__new .new-detail {
        padding-top: 6.4vw;
    }

    .popup__new .new-detail img {
        margin-bottom: 6.4vw;
    }

    .popup__lost .popup-inr,
    .popup__win .popup-inr,
    .popup__message .popup-inr {
        width: 91.46666666666667%;
        padding: 10.66666666666667vw 4.266666666666667vw;
        -webkit-border-radius: 6.4vw;
        border-radius: 6.4vw;
    }

    .message-lucky h2,
    .message h2 {
        font-size: 6.4vw;
        margin-bottom: 3.4vw;
    }

    .popup__win .message-lucky h2 {
        font-size: 8.66666666666667vw;
    }

    .message-lucky p,
    .message p {
        font-size: 3.7333vw;
    }

    .message-lucky img {
        width: 94%;
        margin-bottom: 2.933333333333333vw;
    }

    .message-lucky img.gift-img {
        width: 26%;
        margin-bottom: 3.4vw;
    }

    .message-note {
        font-size: 3.375vw;
        margin-top: 2.4vw;
    }

}


@media (orientation: landscape) and (max-width: 960px) {
    .close-pop {
        right: 5px;
        top: 5px;
    }

    .popup__support .popup-inr {
        top: 5%;
        height: 90%;
        padding: 16px 16px 48px 16px;
    }

    .popup__new .popup-inr {
        padding: 16px 16px 32px 16px;
    }

    .popup__support .new-data,
    .popup__new .new-data {
        padding: 16px;
    }

    .new-detail>* {
        margin-bottom: 16px;
    }

    .new-data h2 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .new-detail {
        font-size: 14px;
    }

    .new-detail>* {
        margin-bottom: 12px;
    }

    .popup__support .buts {
        -webkit-transform: translateY(62px);
        transform: translateY(62px);
    }

    .popup__support .but {
        font-size: 14px;
        height: 40px;
        max-width: 180px;
    }

    .post-date {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .popup__new .new-detail {
        padding-top: 30px;
    }

    .popup__new .new-detail img {
        margin-bottom: 20px;
    }

    .popup__lost .popup-inr,
    .popup__win .popup-inr,
    .popup__message .popup-inr {
        max-width: 460px;
        padding: 30px 20px;
    }

    .popup__message .popup-inr {
        padding: 30px 40px;
    }

    .message-lucky h2,
    .message h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .popup__win .message-lucky h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .message-lucky p,
    .message p {
        font-size: 15px;
    }

    .message-lucky img {
        width: 50%;
        margin-bottom: 15px;
    }

    .message-lucky img.gift-img {
        display: none;
    }

    .message-note {
        font-size: 13px;
        margin-top: 10px;
    }

}


@media (orientation: portrait) and (max-width: 960px) {
    .no-scroll .hotline-stikcy {
        top: 84%;
    }

}